<nz-layout class="main-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
    <div class="logo">
      <img [src]="getImage()" alt="">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="sider-list">
      <a nz-menu-item nzMatchRouter routerLink="/account-request">
        <i nz-icon nzType="form"></i>
        <span>Solicitud de cuenta</span>
      </a>
      <a nz-menu-item nzMatchRouter routerLink="/account-list">
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
        <span>Cuentas</span>
      </a>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="main-header">
      <h2>Cuentas de ahorro</h2>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <!-- <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer> -->
  </nz-layout>
</nz-layout>