.main-container {
  min-height: 100%;
}

.logo {
  // height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  img {
    width: 100%;
  }
}

.main-header {
  // background: #fff;
  background: #e2001a;
  padding: 0 16px;
  h2{
    color: white;
  }
}

nz-content {
  margin: 16px;
}
.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

span {
  a {
    color: white;
  }
}
