<h2>Cuentas registradas</h2>

<nz-table #basicTable [nzData]="accountList" [nzLoading]="isLoading" [nzPageSize]="8">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Numero de documento</th>
      <th>Fecha de solicitud</th>
      <th>Saldo disponible</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.document }}</td>
      <td>{{ data.requestDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{ data.initialbalance | currency}}</td>
      <td class="container_buttons">
        <a nz-button [routerLink]="['/account-request', data.id]" type="button" nzType="primary" class="view_more_button">
          <i nz-icon nzType="eye"></i>
        </a>
        <button nz-button type="button" nzType="danger" (click)="deleteAccount(data.id)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>